fuse-poc/src/main/resources/etc/account.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://account.poc.fuse.tmg.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://account.poc.fuse.tmg.com">

    <!-- Type definitions for input- and output parameters for webservice -->
    <wsdl:types>
        <xs:schema targetNamespace="http://account.poc.fuse.tmg.com">
            <xs:element name="inputAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="accountId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="code"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <!-- Message definitions for input and output -->
    <wsdl:message name="inputAccount">
        <wsdl:part name="in" element="tns:inputAccount"/>
    </wsdl:message>
    <wsdl:message name="outputAccount">
        <wsdl:part name="out" element="tns:outputAccount"/>
    </wsdl:message>

    <!-- Port (interface) definitions -->
    <wsdl:portType name="AccountEndpoint">
        <wsdl:operation name="Account">
            <wsdl:input message="tns:inputAccount"/>
            <wsdl:output message="tns:outputAccount"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Port bindings to transports and encoding - HTTP, document literal encoding is used -->
    <wsdl:binding name="AccountBinding" type="tns:AccountEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Account">
            <soap:operation
                    soapAction="http://reportincident.poc.fuse.tmg.com/Account"
                    style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service definition -->
    <wsdl:service name="AccountEndpointService">
        <wsdl:port name="AccountEndpoint" binding="tns:AccountBinding">
            <soap:address location="http://localhost:9001/proxy-crm/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
