fuse-poc/src/main/resources/etc/currentCRMService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Web Services API : AccountService-->
<wsdl:definitions targetNamespace="http://account.poc.fuse.tmg.com" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://account.poc.fuse.tmg.com"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
>
  <wsdl:types xmlns:WSError="http://util.account.poc.fuse.tmg.com">
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://util.account.poc.fuse.tmg.com">
      <xsd:complexType name="WSError">
        <xsd:sequence>
          <xsd:element name="errorCode" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="errorMessage" minOccurs="0" type="xsd:string" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://account.poc.fuse.tmg.com">
      <xsd:import namespace="http://util.account.poc.fuse.tmg.com"/>
      <xsd:element name="DebuggingInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="debugLog" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18"/>
          <xsd:pattern value="[a-zA-Z0-9]{18}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategory">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Db"/>
          <xsd:enumeration value="Workflow"/>
          <xsd:enumeration value="Validation"/>
          <xsd:enumeration value="Callout"/>
          <xsd:enumeration value="Apex_code"/>
          <xsd:enumeration value="Apex_profiling"/>
          <xsd:enumeration value="Visualforce"/>
          <xsd:enumeration value="System"/>
          <xsd:enumeration value="All"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategoryLevel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Internal"/>
          <xsd:enumeration value="Finest"/>
          <xsd:enumeration value="Finer"/>
          <xsd:enumeration value="Fine"/>
          <xsd:enumeration value="Debug"/>
          <xsd:enumeration value="Info"/>
          <xsd:enumeration value="Warn"/>
          <xsd:enumeration value="Error"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="LogInfo">
        <xsd:sequence>
          <xsd:element name="category" type="tns:LogCategory"/>
          <xsd:element name="level" type="tns:LogCategoryLevel"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="LogType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None"/>
          <xsd:enumeration value="Debugonly"/>
          <xsd:enumeration value="Db"/>
          <xsd:enumeration value="Profiling"/>
          <xsd:enumeration value="Callout"/>
          <xsd:enumeration value="Detail"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="DebuggingHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
            <xsd:element name="debugLevel" type="tns:LogType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CallOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="client" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AccountDetails">
        <xsd:sequence>
          <xsd:element name="accountType" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="city" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="country" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="county" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="digitalSubscriberStatus" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="firstName" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="GUID" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="homePhone" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="lastName" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="marketingEmailPref" minOccurs="0" type="xsd:boolean" nillable="true"/>
          <xsd:element name="marketingPhonePref" minOccurs="0" type="xsd:boolean" nillable="true"/>
          <xsd:element name="marketingPostPref" minOccurs="0" type="xsd:boolean" nillable="true"/>
          <xsd:element name="marketingSMSPref" minOccurs="0" type="xsd:boolean" nillable="true"/>
          <xsd:element name="mobilePhone" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="personalEmail" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="postalCode" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="street" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="TCode" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="title" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="TSNumber" minOccurs="0" type="xsd:string" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Result">
        <xsd:sequence>
          <xsd:element name="TSNumber" minOccurs="0" type="xsd:string" nillable="true"/>
          <xsd:element name="wsError" minOccurs="0" type="WSError:WSError" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountDetails" type="tns:AccountDetails" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:Result" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TSNumber" type="xsd:string" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:AccountDetails" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountDetails" type="tns:AccountDetails" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:Result" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <!--Message for the header parts-->
  <wsdl:message name="Header">
    <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
    <part name="CallOptions" element="tns:CallOptions"/>
    <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
    <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
    <part name="SessionHeader" element="tns:SessionHeader"/>
  </wsdl:message>
  <!--Operation Messages-->
  <wsdl:message name="createAccountRequest">
    <part element="tns:createAccount" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createAccountResponse">
    <part element="tns:createAccountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAccountRequest">
    <part element="tns:getAccount" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAccountResponse">
    <part element="tns:getAccountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateAccountRequest">
    <part element="tns:updateAccount" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateAccountResponse">
    <part element="tns:updateAccountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="AccountServicePortType">
    <operation name="createAccount">
      <input message="tns:createAccountRequest"/>
      <output message="tns:createAccountResponse"/>
    </operation>
    <operation name="getAccount">
      <input message="tns:getAccountRequest"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="updateAccount">
      <input message="tns:updateAccountRequest"/>
      <output message="tns:updateAccountResponse"/>
    </operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceBinding" type="tns:AccountServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createAccount">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
        <soap:header use="literal" part="CallOptions" message="tns:Header"/>
        <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
        <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
        <soap:body use="literal" parts="parameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccount">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
        <soap:header use="literal" part="CallOptions" message="tns:Header"/>
        <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
        <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
        <soap:body use="literal" parts="parameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
        <soap:header use="literal" part="CallOptions" message="tns:Header"/>
        <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
        <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
        <soap:body use="literal" parts="parameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServiceService">
    <documentation/>
    <wsdl:port binding="tns:AccountServiceBinding" name="AccountService">
      <soap:address location="http://localhost:9001/proxy-crm/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>